QSlider::handle:horizontal {
    border-image:url(:/Icons/images/border.png);
    width: 15px;
    height:12px;
    margin-top:-5px;
    margin-bottom:-5px;
}

QSlider::groove:horizontal {
    border-radius:6px;
    height:5px;
    background:#606060;
    margin-top:5px;
    margin-bottom:5px;
}
QSlider::sub-page:horizontal{
    border-radius:6px;
    margin-top:4px; /*不要超出groove*/
    margin-bottom:4px;
    background: #8097b8;
}
